/* Geral style */
* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

html, body {
    height: 100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #121212; 
    color: #FFF;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5)),url('imgs/bolhas\ background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}  
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(18, 18 ,18, 0.9);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid #00ff88;
    background-color: #1a1a1a;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav a:hover {
    color: #00ff88;
}
.game-container {
    min-height: 100vh;
    scroll-snap-align: start;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#game-canvas {
    width: 80%;
    aspect-ratio: 16/9; 
    background-color: #333;
    border: 2px solid #00ff88;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0, 255, 136, 0.3);
    transition: box-shadow 0.5s ease;
}
footer {
    text-align: center;
    padding: 10px;
    background: #1a1a1a;
    font-size: 0.8rem;
    color: #666;
}
header nav a {
    color:#FFF;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.4s ease, transform 0.3 ease;
    display: inline-block;
}
header nav a :hover {
    color: #00ff88;
    transform: translateY(-2px);
}
#game-canvas:hover {
    box-shadow: 0 0 30px rgba(0, 255, 136, 0.6);
}
.logo {
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: -1px;
    color: #FFF;
    text-transform: uppercase;
}
.logo span {
    color: #00ff88;
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 80px;
}

.content-sections {
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.glass-section, .about-fullscreen {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    scroll-snap-align: start;

}

.glass-section h2 {
    color: #00ff88;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3rem;
    text-shadow: 0 0 15px rgba(0, 255, 136, 0.5);
}

.ranking-table {
    margin: 0 auto;
    width: 100px;
    border-collapse: collapse;
    font-size: 1.2rem;
    max-width: 800px;
}

.ranking-table th, .ranking-table td {
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ranking-table th {color: #00ff88;}

.info-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.info-item {
    max-width: 200px;
}

.info-item .icon {
    font-size: 3rem;
    display: block;
    margin-bottom: 15px;
    filter: drop-shadow(0 0 5px #00ff88);
}

.glass-section :hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 255, 136, 0.1);
    border: 1px solid rgba(0, 255, 136, 0.5);
}
.blur-game {
    filter: blur(10px);
    pointer-events: none;
    transition: filter 0.5s ease;
}

/*Light Mode*/
body.light-mode {
    
    background-image: url(imgs/background\ light.jpg); 
    background-color: #f4f4f9; 
    color: #111; 
}


body.light-mode .modal {
    background: #fff;
    border: 2px solid #006400; 
    box-shadow: none; 
    color: #000;
}

body.light-mode .neon-text {
    color: #006400;
    text-shadow: none;
}

body.light-mode #age-input {
    background: #fff;
    color: #000;
    border: 1px solid #006400;
}

body.light-mode .neon-button {
    background: #006400;
    color: #fff;
    box-shadow: none;
}